
  .default-width{
    width: 40%;
  }
  .progress{
    height: 30px;
  }
  .progress-bar{
    background-color: transparent;
  }
  .bar-danger{
    background-color: #d9534f;
  }
  .bar-info{
    background-color: #007bff;
    border-color: #007bff;
  }
  